OPENAI_API_KEY="GO GET YOUR KEY HERE https://platform.openai.com/account/api-keys"
# gpt-3.5-turbo or gpt-4
# as of 03/18/2023 gpt-4 is in closed beta, I got lucky enough to be accepted into it, so i'm using that
# but most people should keep using gpt-3.5-turbo.
GPT_MODEL="gpt-4"
